.green-bold{
    color:rgb(0, 128, 0);
    font-weight:bold;
}

.green{
    color:rgb(0, 128, 0);
}

button{
    padding:5px;
    margin:5px 0px;
    background-color: rgb(0, 128, 0);
    color:white;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0
}
.container{
    text-align: center;
}